


<% if params[:action] == 'edit' %>

<div class="flex-container">
  <div class="row">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="col-xs-12 col-sm-6 padding">
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <div class="  ">
        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        </div>

        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>
      </div>
      <div class="col-xs-10 col-sm-6 padding">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :phone, required: true %>
        <%= f.input :birthdate, as: :string, required: true, input_html: {class: "datepicker"} %>
      </div>
    </div>

    <div class="flex-container block padding1">
      <%= f.button :submit, "Update", class: "col-xs-12 col-md-3 btn btn-primary btn-lg"%>
    <% end %>

    <%= link_to "Back", :back, class: "col-xs-12 col-md-2 btn btn-danger margin"%>
    <div class="block margin">
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>

  </div>

  <% else %>

  <div class="flex-container">
    <div class="row">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="col-xs-12 col-sm-6 padding">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>


      <div class="col-xs-12 col-sm-6 padding">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :phone, required: true %>
        <%= f.input :birthdate, as: :string, required: true, input_html: {class: "datepicker"} %>
      </div>
    </div>

    <div class="flex-container block padding1">
      <div class="row padding1">
        <%= f.submit "Sign Up", class: "col-xs-12 col-md-3 btn btn-primary btn-lg margin"%>
        <% end %>
      </div>
      <div class="have-account">
        <p><em>Already have an account?</em></p>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

  <% end -%>
