<div class="dark-gray">
  <h1>My Bookings</h1>
</div>

<div class="container">


  <% @bookings.each do |booking| %>

    <% if booking.confirmed %>
    <% @printed = true %>

    <div class="card-puppy">
      <h4>Your booking of <%= booking.puppy.name %></h4>
      <div class="booking-text">
        <p><strong>Start Date: </strong><%= booking.start_date.strftime("%d %B %Y") %></p>
        <p><strong>End Date: </strong><%= booking.end_date.strftime("%d %B %Y") %></p>
        <p><strong>Total Price: </strong><%= number_with_precision((booking.total_price.to_f / 100).round(2), precision: 2) %> €</p>
        <p><strong><%= link_to "Add a Review", new_booking_review_path(booking) %></strong></p>
        <%= link_to "View details" , puppy_booking_path(booking.puppy, booking), class: "btn btn-primary" %>

        </div>
      </div>
    <% end %>

  <% end %>


  <% if !@printed %>
  <h3>Sorry, you do not have any confirmed bookings yet.</h3>
  <% end %>
</div>


