  <div class="dark-gray">
<h1>Booking Confirmation</h1>
  </div>

  <div class="full-width">
    <div class="flex-horizontal">
      <div class="flex-item">

        <% if @booking.confirmed? %>

          <p>Arf arf! Your booking is confirmed. <%= @puppy.name %> can't wait to meet you! </p>
          <br>
          <%= image_tag(@puppy.photo_url, class: "confirmation2-image", alt: "puppy pic") %>
          <br>
          <br>
          <%= link_to 'Back to all Puppies' , puppies_path %>

          <br>

        <% else %>


          <p>Hey, thanks for choosing <%= @puppy.name %>. You'll love him! Please confirm your booking below.</p>
           <%= image_tag(@puppy.photo_url, class: "confirmation1-image", alt: "puppy pic") %>
          <p>Name of Puppy: <%= @puppy.name %></p>
          <p>Start Date: <%= @booking.start_date %></p>
          <p>End Date: <%= @booking.end_date %></p>
          <p>Total Price: <%= @booking.total_price/100 %>,00€</p>

          <p>Pick <%= @puppy.name %> up at: <%= @puppy.street %>, <%= @puppy.city %>, <%= @puppy.country %></p>

        <div>
          <%= link_to 'Confirm', puppy_booking_confirm_path(@puppy, @booking), class: "btn btn-lg btn-primary" %>
        </div>


        <% end %>
      </div>
    </div>
  </div>
