  <div class="dark-gray">
    <h1><%= @puppy.title %></h1>
  </div>
  <div class="full-width">
    <div class="flex-horizontal">

      <div class="flex-item">
        <h2><%= @puppy.name %></h2>
        <p> <%= @puppy.street %>, <%= @puppy.zipcode %>, <%= @puppy.city %>, <%= @puppy.country %></p>
        <ul>
          <li><%= @puppy.description %></li>
        </ul>

        <ul>
          <li><strong>Daily Price:</strong> <%= number_with_precision((@puppy.daily_price.to_f / 100).round(2), precision: 2) %> €</li>
          <li><strong>Birthdate:</strong> <%= @puppy.birthdate.strftime("%d %B %Y") %></li>
          <li><strong>Breed:</strong> <%= @puppy.breed.name %></li>
          <li><strong>Toilet training level:</strong> <%= @puppy.toilet_training_level %></li>
        </ul>
        <br>
        <% if current_user %>
          <% if @puppy.user.id == current_user.id %>
              <%= link_to "Edit", edit_puppy_path, class: "btn btn-danger" %>
              <%= link_to "Delete", puppy_path(@puppy), method: :delete, class: "btn btn-danger" %>
            <% else %>
          <% end %>
        <% end %>

      </div>

      <%= image_tag(@puppy.photo_url, class: "profile-image", alt: "puppy pic") %>

    </div>
  </div>


<div class="full-width">
  <div class="flex-horizontal">
    <div class="flex-item gray-ground">



          <div class="row">
<% if @puppy.reviews.blank? %>
  <p>There are no reviews for <%= @puppy.name %> yet</p>
  <p>You can add a review under "My Bookings"</p>
<% else %>
            <% @reviews.each do |review| %>
              <div class="col-xs-6">
                <div class="review-card">
                  <h4><strong>"<%= review.title %>"</strong></h4>
                  <p>"<%= review.description %>"</p>

                  <% num = review.rating %>
                  <% anum = 5 - review.rating %>
                  <% num.times do %>
                  <i class="fas fa-star" style="color: #f9d949"></i>
                  <% end %>
                  <% anum.times do %>
                  <i class="far fa-star" style="color: #f9d949"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
<% end %>

            </div>

        </div>


          <div class="flex-item gray-ground">
            <% if notice.present? %>
              <p class="notice"> <i class="fas fa-exclamation-triangle"></i><%= notice %></p>
            <% end %>
            <div class="booking-form">
              <h2>Book <%= @puppy.name %> Now</h2>
              <%= render "bookings/form", puppy: @puppy, booking: @booking %>
            </div>


    </div>
  </div>
</div>
